* {
    padding : 0;
    margin : 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}

body {
    font-family: 'Lato', sans-serif;
    font-size : 14px;
    font-weight: 700;
}

.main {
    max-width : 1140px;
    margin : auto;
}

.main::before {
    content : '';
    clear: both;    
}

.main::after {
    content : '';
    clear : both;
    display : table;
}
.logo {
    float : left;
}

.logo img{ 
    width: 145px;
}

.header-top {
    background-color: #1c1c1c;
    padding : 30px 0;   
}

.nav {
    float : right;
    margin-top : 10px;
}

.nav ul li {
    display: inline;;
}

.nav ul li a {
    padding: 10px 15px;
    text-transform: uppercase;
    color : #c4c4c4;
    text-decoration: none;  
}

.nav ul li:hover a {
    color : #f74d4c;
}

.nav ul li.active a{
    color : #f74d4c;

}

.cont{
    background-color: #1f1f1f;
    display: block;
    position: relative;
    text-align: center;
    padding : 50px 0;
}

/* .content { 
    padding: 60px 0;
} */

h1.head {
    font-size: 62px;
    font-weight: 300;
    color: #D0D0D0;
    padding-bottom: 20px;
}

.cont1 {
    display: inline;
    font-weight: 900;
}

p.text{
font-size: 42px;
font-weight: 300;
color: #D0D0d0;
margin-bottom: 50px;
}

.button{
    background-color: #f74d4c;
    color: #FFF;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.5px;
    font-size: 14px;
    font-weight: 700;
    padding: 16px 35px;
}

.button:hover {
    cursor: pointer;
}
/* 
.services {
    width : 300px;
    margin : auto;
} */

.service {
    background-color : #f8f8f8;
}

.services  {
    width : 100%;
    text-align : center;    
}

.cont-services {
    width : 259px;
    margin : auto;
    float : left;
    padding : 13px;
    margin : 90px 0;
    display : inline;
}

.cont-services img {
    height : 50px;
    margin-bottom: 15px;
}

 .cont-services h1{
    font-size: 18px;
    line-height: 1.6;
    color : #505050;
    margin: 10px 0;
}

.cont-services p {
    font-size : 15px;
    color : #7c7c7c;
    line-height: 25px;
}

.picture {
    margin : 100px 0;
}

.head-pict h1  {
    font-size : 30px;
    font-weight : 800;
    margin-bottom: 20px;
    color : #616161;
}

.head-pict p {
    color : #616161;
    font-size : 20px;
    font-weight : 400;
    margin-bottom : 30px;
}
.head-button {
    padding : 20px 0;
}

.head-button button {
    font-size: 12px;
    padding: 12px 18px;
    margin : 3px;
    font-weight : 700;
}

@media
(-webkit-min-device-pixel-ratio:2),
(min-resolution: 192dpi) {
    .head-button button {
        font-weight: 900;
    }
}

.head-button button.active  {
    background-color : #616161;
}

.pict {
    width : 285px;
    margin : auto;
    float : left;
    padding: 5px 0;
    display : inline;
}
